#app:not(.dev) #browser::before {
  content: '';
  position: absolute;
  box-sizing: border-box;
  pointer-events: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--colorWindowBg);
  opacity: 60%;
}

